#logo {
  font-family: 'IM Fell English SC', serif;
  font-size: 60px;
  color: #2D2D2D;
  text-shadow: 0px 0px 10px #2D2D2D;
}

.card {
  height: 576px;
  width: 343px;
  box-shadow: 0px 0px 30px white;
  padding: 0px;
}

.card-glow {
  box-shadow: 0px 0px 30px white;
}

.glow {
  color: white;
  text-shadow: 0px 0px 10px white;
}

.glow-card {
  box-shadow: 0px 0px 30px white;
}

.glow-red {
    color: red;
    text-shadow: 0px 0px 30px red;
  }

.card-sum {
  height: 384px;
  width: 240px;
  padding: 0px;
}

.card-container {
  margin: auto;
  max-width: 100%;
}

.navbar-inner {
  background: transparent;
}

.navbar {
  background: transparent;
  border: none;
  margin: 30px;
  font-family: 'Cinzel', serif;
}

.prophecy {
  font-size: 42px;
  margin-top: 100px;
}

.prophecy-sum {
  font-size: 24px;
  margin: 2px;
}

.prophecies {
  margin-top: 20px;
}

.prophecies-sum {
  margin-top: 30px;
}

.transition {
  font-size: 60px;
  text-align: center;
  margin-top: 150px;
}

body {
  background-image: url(https://s3.amazonaws.com/soothsayr/background.jpg);
  font-family: 'IM Fell English SC', serif;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

p {
  color: white;
}

#readingButton {
  font-size: 30px;
  text-decoration: none;
  color: white;
  margin-top: 150px;
}

.profilePriorReading {
  margin-left: 40px;
}

.thumbnail {
  margin-left: 10px;
}

#readingLink {
  text-decoration: none;
  color: red;
  text-shadow: 0px 0px 30px red;
}

a.li {
  text-decoration: none;
}

.sum-text {
  font-size: 24px;
  margin-top: 10px;
}

.sum-text-list {
  margin: 30px 0px;
}

.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.show-reading {
  margin-top: 30px;
}
